a {
    text-decoration: none;
    color: #856e85;
}

hr {
    border: 1px solid #332b33;
    margin: 0;
}

.navbar{
    grid-area: nav;
    background-color: #493e49;
    border-radius: 4px;
    border: 1px solid #312931;
    align-self: baseline ;
}

.navbar__navbar-item{
    padding: 4px;
    font-family: oswald;
    text-align: center;
    font-size: 18px;
}


.navbar__navbar-item:hover{
    color: #f4a300;
    cursor: pointer;
}

.navbar a.active{
    color: #f4a300;
}