.colors{
color: 
#655665 - фон
#493e49 - более темный
#ffbf36 - бледно желтый
#f4a300 - ярко желтый
#f96f0d - бледно оранжевый
#e54c00 - ярко оранжевый
#f4f2ef - белый
#e5e1dc - серый
#46f7d4 - ярко бирюзовый
#2ad1b5 - бледно бирюзовый
}
/*-----------------------------------------------------------------*/
body{
  background-color: #655665;
}

.app-wrapper{
  width: 60vw;
  margin: 0 auto;
  margin-top: 4vh;

  display: grid;
  grid-template-areas: 
  "head head"
  "nav content";
  /*grid-template: 46px,1fr \ 1fr,6fr;*/
  grid-template-rows: 46px 1fr;
  grid-template-columns: 1fr 6fr;
  grid-gap: 14px;
}

@media(max-width: 450px){
  .app-wrapper{
    width: 90vw;
  }
}